.navItems {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10px;
    padding-top: 7px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: sans-serif;
    color: #000000;
    background-color: #EFAAC4;
    position: relative;
    width: 100%;
}

.title {
    padding-left: 10px;
}